<!DOCTYPE html>
<html lang="fr">
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
    <meta charset="utf8">

     <title>{% block title %}Mon blog sur les crêpes bretonnes{% endblock %}</title>

  </head>
  <body>
  {% include "messages.html" %}
  <header>Crêpes bretonnes</header>
      <nav>
         {% block nav %}
            {% include "menu.html" %}
         {% endblock %}
     </nav>
     <section id="content">
         {% block content %}{% endblock %}
     </section>
    <footer>&copy; Crêpes bretonnes</footer>

     {% block javascripts %}
     {% load static %}
      <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
      {% block others_js %}{% endblock %}
    {% endblock %}
  </body>
</html>
