<ul>
     <li><a href="{% url "accueil" %}">Accueil</a></li>
     <li><a href="{% url "articles_list" %}">Les articles</a></li>
     <li><a href="{% url "articles_list_view" %}">Les articles avec un ListView</a></li>
     <li><a href="{% url "article_create" %}">Ajouter un article</a></li>
     <li><a href="{% url "article_create_from_model" %}">Ajouter un article avec un ModelForm</a></li>
     <li><a href="{% url "login" %}">Se connecter</a></li>
     <li><a href="{% url "test_i18n" %}">Test i18n</a></li>
     <li><a href="{% url "languages" %}">Langue</a></li>
</ul>