{% extends "base.html" %}
{% block title %}Ma page d'article{% endblock %}
{% block content %}
    <h2>Bienvenue !</h2>
    <p>
       <ul>
            {% for article in articles %}
                    <li>
                       <a href="{% url "article_show" id=article.id %}"> {{ article.titre }}  </a>
                      -  <a href="{% url "article_edit" id=article.id %}"> Editer </a> - 
                       <a href="{% url "article_show_view" pk=article.id %}"> Voir avec la ViewDetail  </a>

                    </li>
            {% empty %}
                Pas d'article !
            {% endfor %}
        </ul>
    </p>
{% endblock %}