{% extends "base.html" %}
{% block title %}Ma page d'article{% endblock %}
{% block content %}

    {% load blog_extras %}

    <h2>{{ 'Bienvenue !'|citation }} dit-il..., nous sommes le {{ date_actuelle }}</h2>
    <p>
       <ul>
            {% for article in articles %}
                    <li>
                       <a href="{% url "article_show" id=article.id %}"> {{ article.titre|smart_truncate:13 }}  </a>
                      -  <a href="{% url "article_edit" id=article.id %}"> Editer </a> - 
                       <a href="{% url "article_show_view" pk=article.id %}"> Voir avec la ViewDetail  </a>

                    </li>
            {% empty %}
                Pas d'article !
            {% endfor %}
        </ul>
    </p>
{% endblock %}