{% extends "blog/base_blog.html" %}
{% block content %}


{% if editer %}
    Article editer !
{% endif %}

<form action="{% url 'article_edit' id %}" method="POST" enctype="multipart/form-data">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Submit" />
</form>

{# Try contenteditable #}
<div id="html">
  <span id="test" data-id-article="{{ id }}" contenteditable="true">
    <p>
      <b>qsdqsd</b>
      <br/>
        Mon super contenu
      </p>
  </span>
</div>
{% endblock content %}
