.html {
  color: red;
}
#progressBarControl {
    border: 1px solid #aaa;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: inline-block;
    height: 15px;
    margin-bottom: 5px;
    width: 210px;
}

#progressBar {
    background: #ebebeb none repeat scroll 0 0;
    cursor: pointer;
    font-size: 9px;
    height: 15px;
    line-height: 15px;
    text-align: right;
    white-space: nowrap;
    width: 0;
}
